.title {
    margin-bottom: 2px;
    margin-top: 10px;
    padding-bottom: 10px;
    color: #1f4e97;
    border-bottom: 1px solid #ccc;

    h3 {
        font-size: 24px;
        font-weight: 700;
    }
}

.meta-info {
    display: flex;
    gap: 15px;
    font-size: 14px;
    color: #777;
    margin-bottom: 10px;

    .meta-item {
        gap: 5px;
        display: flex;
        align-items: center;
        justify-self: start;
    }
}

.description q {
    font-size: 24px;
    font-style: italic;
    color: #484848;
}

.share {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0 0 40px;
    padding: 20px 0;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}
